[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
X-KDE-Priority=TopLevel
Actions=open-ghostty

[Desktop Action open-ghostty]
Name=Open In Ghostty
Exec=ghostty --working-directory="%u"
Icon=com.mitchellh.ghostty
