final: prev:
let
  inherit (prev.stdenv.hostPlatform) system;
  version = "@@VERSION@@";

  archive_fmt = if prev.stdenv.hostPlatform.isDarwin then "zip" else "tar.gz";
  plat =
    {
      x86_64-linux = "linux-x64";
      x86_64-darwin = "darwin";
      aarch64-linux = "linux-arm64";
      aarch64-darwin = "darwin-arm64";
      armv7l-linux = "linux-armhf";
    }
    .${system} or (throw "Unsupported system: ${system}");
  hash =
    {
      x86_64-linux = "@@HASH_x86_64-linux@@";
      aarch64-linux = "@@HASH_aarch64-linux@@";
      x86_64-darwin = "@@HASH_x86_64-darwin@@";
      aarch64-darwin = "@@HASH_aarch64-darwin@@";
      armv7l-linux = "@@HASH_armv7l-linux@@";
    }
    .${system} or (throw "No sha256 available for ${system}.");
in
{
  vscode = prev.vscode.overrideAttrs (old: {
    inherit version;
    rev = "@@REV@@";

    src = prev.fetchurl {
      name = "VSCode_${version}_${plat}.${archive_fmt}";
      url = "https://update.code.visualstudio.com/${version}/${plat}/stable";
      inherit hash;
    };
  });
}
